<div class="recipe-item-container">
    <div class="row">
        <div class="col-xs-6 col-md-3">
          <a href="#" class="thumbnail">
            <img src="../../../assets/images/recipe-placeholder.png" alt="...">
          </a>
        </div>

        <div class="col-xs-6 col-md-7">
            <h4>{{ recipe.name }}</h4>
            <p>{{ recipe.description }}</p>

            <h5>Ingredients</h5>
            <ul class="list-group">
                <li class="list-group-item" *ngFor="let ing of recipe.ingredients"><span class="glyphicon glyphicon-ok"></span> {{ing.name}} - {{ ing.amount }}</li>
            </ul>
        </div>
        <div class="col-xs-6 col-md-2 recipe-action">
            <button class="btn btn-primary action">
                <span class="glyphicon glyphicon-plus"></span>
            </button>
            <button class="btn btn-danger action">
                <span class="glyphicon glyphicon-minus"></span>
            </button>
        </div>
      </div>
</div>