<div class="row">
  <div class="col-md-6 offset-md-4">
    <form (ngSubmit)="onSubmit(f)" #f="ngForm">
      <div class="panel panel-default">
        <div class="panel-heading">
          Login
        </div>
        <div class="panel-body">

          <div class="form-group">
            <label for="email">Email address</label>
            <input type="email" class="form-control" ngModel name="email">
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" ngModel name="password">
          </div>
        </div>
        <div class="panel-footer">
          <button class="btn btn-primary" type="submit">{{status === 'login' ? 'Login': 'Signup'}}</button>
          <button class="btn btn-success" (click)="toggleStatus()"
            type="button">{{status == 'login' ? 'Register' : 'Login'}}</button>
        </div>
      </div>
    </form>
    <app-spinner *ngIf="isLoading"></app-spinner>
    <app-error [error]="error" *ngIf="error"></app-error>
  </div>
</div>
