<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Editing: {{ recipe.name }}
            </div>
            <div class="panel-body">
                <div class="form-group">
                    <input type="text" class="form-control" value="{{ recipe.name }}">
                </div>
                <div class="form-group">
                    <textarea class="form-control" id="" cols="30" rows="3">{{ recipe.description }}</textarea>
                </div>
                <div class="form-group-list" *ngFor="let ing of recipe.ingredient">
                    <input type="text" class="form-control" value="{{ ing.name }}">
                    <input type="text" class="form-control" value="{{ ing.amount }}">
                    <button class="btn">Add</button>
                </div>
            </div>
        </div>
    </div>
</div>