<div class="row">
    <div class="col-md-6">
            <ul class="list-group">
                <li class="list-group-item" *ngFor="let recipe of recipes" routerLinkActive="active">
                    <span class="badge">14</span>
                    <a [routerLink]="[recipe.id]">
                    <div class="recipe-item">
                        <img src="../../../assets/images/recipe-thumbnail.png" alt="">
                        <div>
                            <h4>{{recipe.name}}</h4>
                            <p>{{recipe.description}}</p>
                        </div>
                    </div>
                    </a>
                </li>
            </ul>
    </div>
    <div class="col-md-6">
        <router-outlet></router-outlet>
    </div>
</div>